body
{
    width: 900px;
    margin: auto;
    height: auto;

}

div.TreeView 
{
    width:175px;
    margin: auto;
    float: left;
    background-color:lightblue;
}

div.Content 
{
    width:700px;
    float: right;
}

    div.Content li
    {
        padding: 15px;
    }

h1
{
    text-align: center;
}

h2 
{
	text-align: center;
}

nav
{
    padding: 15px;
    background-color:lightblue;
}

div.nav li
{
    text-align:center;
    padding: 20px;
}

div.TreeView li
{
    padding: 20px;
}

#Menu1 li a.level1
{
    margin-right: 20px;
}

